
    <section class="section-intro">
        <div class="container default-padding default-background-color">
            <p class="intro-home">Website bao gồm các topic, khóa học và bài học hướng dẫn về <i>C#, Web API, MVC</i>  và nhiều công nghệ khác.</p>
            <div class="list-course">
                <div class="row course-item">
                    <div class="col-sm-4">
                        <figure>
                            <a href="#">
                                <img src="/images/img-c.png" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="col-sm-8">
                        <h2>
                            <a href="#">
                                Hướng dẫn lập trình C# cho người mới
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
