<section class="section-intro m-b-30">
    <div class="container default-padding default-background-color">
        <p class="intro-home">Website bao gồm các topic, khóa học và bài học hướng dẫn về <i>C#, Web API, MVC</i> và
            nhiều công nghệ khác.</p>
        <div class="list-course">
            <div class="row course-item">
                <div class="col-sm-4">
                    <figure>
                        <a href="/khoa-hoc/csharp" target="_blank">
                            <img src="/images/img-c.png" alt="">
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8">
                    <h2>
                        <a href="/khoa-hoc/csharp" target="_blank">
                            Hướng dẫn lập trình C# cho người mới
                        </a>
                    </h2>
                </div>
            </div>
            <div class="row course-item">
                <div class="col-sm-4">
                    <figure>
                        <a href="/khoa-hoc/mvc" target="_blank">
                            <img src="/images/img-mvc.png" alt="">
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8">
                    <h2>
                        <a href="/khoa-hoc/mvc" target="_blank">
                            Hướng dẫn lập trình MVC cho người mới
                        </a>
                    </h2>
                </div>
            </div>
            <div class="row course-item">
                <div class="col-sm-4">
                    <figure>
                        <a href="/khoa-hoc/webapi" target="_blank">
                            <img src="/images/img-web-api.png" alt="">
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8">
                    <h2>
                        <a href="/khoa-hoc/webapi" target="_blank">
                            Hướng dẫn lập trình WebAPI cho người mới
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
