:root {
    --main-color-font: #000;
    --main-color-background: #f1f1f1;
    --main-link-color: #2a2ab3;
    --main-link-hover-color: #5a5afb;
    --main-section-background: #fff;
    --main-nav-color: #000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-color-background);
}

a {
    color: var(--main-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-link-hover-color);
    text-decoration: underline;
}


figure {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}


a {
    transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
span {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif ; */
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content p {
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header .nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.container {
    width: 1400px;
    margin: auto;
}


.default-background-color {
    background-color: var(--main-section-background);
}

.default-padding {
    padding: 30px;
}

.col-sm-4 {
    width: 33.33%;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


header {
    margin-bottom: 30px;
}

/* Style the header with a grey background and some padding */
.header {
    background-color: var(--main-section-background);
}

/* Style the header links */
.header a {
    float: left;
    color: var(--main-nav-color);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}



/* Float the link section to the right */
.header-right {
    float: right;
}



.col-sm-4 {
    width: 33.33%;
}

.col-sm-8 {
    width: 66.66%;
}

.row.course-item {
    padding: 30px;
}

.blog-nav-lesson p {
    font-size: 18px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
}

a.blog-nav-lesson {
    background: var(--main-color-background);
    color: var(--main-color-font);
    padding: 25px;
    width: 40%;
    text-decoration: none;
}

a.blog-nav-lesson:hover {
    background: #e3e3e3;
}

a.blog-nav-lesson.next-lesson {
    text-align: right;
}

p.intro-home {
    font-size: 20px;
    line-height: 1.6;
}

.sidenav {
    z-index: 1;
    border-right: 1px solid #d1d1d1;
}

.sidenav a {
    padding: 6px 8px 6px 4px;
    font-size: 18px;
}

.lesson {
    padding-left: 25px;
    line-height: 1.6;
}

#content img {
    width: auto;
}

.lesson ul li {
    margin-bottom: 10px;
}

.default-padding-y {
    padding: 30px 0;
}

.h1-content-lesson h1 {
    text-align: center;
    padding: 50px;
    font-size: 35px;
    background-color: #68c9f3;
}


.sidenav .course {
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}


.course h2 {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 12px;
}

.show {
    display: block !important;
}

.course>i {
    display: none;
}

footer {
    background-color: #3a3a3a;
    color: var(--main-section-background);
    height: 300px;
}

.m-b-30 {
    margin-bottom: 30px;
}

section#content * {
    line-height: 1.6 !important;
}

.container.no-content h1 {
    text-align: center;
    margin-bottom: 30px;
}





/* TODO: use @import for your css */

body {
    /* overflow-y: hidden; */
    padding: 0px;
    margin: 0px
}

body,
table,
p,
div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #414141;
    font-size: 14px;
    line-height: 1.6;
}

a {
    color: #377dff;
    text-decoration: none;
    -webkit-transition: color 0.2s ease 0s, text-decoration 0.2s ease 0s;
    -moz-transition: color 0.2s ease 0s, text-decoration 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s, text-decoration 0.2s ease 0s;
    transition: color 0.2s ease 0s, text-decoration 0.2s ease 0s;
}

::selection {
    background: #b5d6fd;
    color: #000030;
}

/*RTE_DefaultConfig.items_InlineClasses*/
.my-cls-mark {
    background-color: yellow;
    font-weight: bold;
}

.my-cls-warning {
    background-color: orange;
    color: white;
    font-weight: bold;
}

/*RTE_DefaultConfig.items_ParagraphClasses*/
.my-cls-quote {
    margin: 10px;
    padding-left: 10px;
    border-left: dashed 1px red;
    font-style: italic;
}

.my-cls-largecenter {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

* {
    box-sizing: border-box;
}

[__rte_selected_hover__] {
    background-color: #b5d6fd;
}

[__rte_selected_cell] {
    background-color: #b5d6fd;
}

[__rte_selected_hover] {
    background: #b5d6fd;
    color: #000;
}

.rte-toggleborder [__rte_selected_block] {
    /*box-shadow: 0 0 0 0.5px #377dff;*/
    /*not work well for FireFox*/
    /*border-radius: 1px;*/
    /*outline: 0.5px solid #377dff99;*/
    border-right: solid 1px #377dff;
}

.rte-toggleborder blockquote[__rte_selected_block] {
    /*box-shadow: 0 0 0 0.5px #377dff;*/
    /*not work well for FireFox*/
    /*border-radius: 1px;*/
    outline: none;
}

.rte-toggleborder td[__rte_selected_block] {
    box-shadow: none !important;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table:not([width]) {
    width: 100%;
}

table[border="0"] td,
table:not([border]) td,
table[border="0"] th,
table:not([border]) th {
    border: 1px solid #ddd;
}

thead {
    background-color: #eee;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

video-container {
    position: relative
}

video-container:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(128, 128, 128, 0.2);
}

blockquote {
    border-left: 3px solid #ddd;
    padding: 5px 0 5px 10px;
    margin: 15px 0 15px 15px;
}


img {
    cursor: default;
}




.dp-highlighter {
    font-family: "Consolas", "Courier New", Courier, mono, serif;
    font-size: 12px;
    background-color: #E7E5DC;
    width: 99%;
    overflow: auto;
    margin: 18px 0 18px 0 !important;
    padding-top: 1px;
    /* adds a little border on top when controls are hidden */
}

/* clear styles */
.dp-highlighter ol,
.dp-highlighter ol li,
.dp-highlighter ol li span {
    margin: 0;
    padding: 0;
    border: none;
}

.dp-highlighter a,
.dp-highlighter a:hover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.dp-highlighter .bar {
    padding-left: 45px;
}

.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar {
    padding-left: 0px;
}

.dp-highlighter ol {
    list-style: decimal;
    /* for ie */
    background-color: #fff;
    margin: 0px 0px 1px 45px !important;
    /* 1px bottom margin seems to fix occasional Firefox scrolling */
    padding: 0px;
    color: #5C5C5C;
}

.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter ol li {
    list-style: none !important;
    margin-left: 0px !important;
}

.dp-highlighter ol li,
.dp-highlighter .columns div {
    list-style: decimal-leading-zero;
    /* better look for others, override cascade from OL */
    list-style-position: outside !important;
    border-left: 3px solid #6CE26C;
    background-color: #F8F8F8;
    color: #5C5C5C;
    padding: 0 3px 0 10px !important;
    margin: 0 !important;
}

.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div {
    border: 0;
}

.dp-highlighter .columns {
    background-color: #F8F8F8;
    color: gray;
    overflow: hidden;
    width: 100%;
}

.dp-highlighter .columns div {
    padding-bottom: 5px;
}

.dp-highlighter ol li.alt {
    background-color: #FFF;
    color: inherit;
}

.dp-highlighter ol li span {
    color: black;
    background-color: inherit;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol {
    margin: 0px;
}

.dp-highlighter.collapsed ol li {
    display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing {
    border: none;
}

.dp-highlighter.printing .tools {
    display: none !important;
}

.dp-highlighter.printing li {
    display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .tools {
    padding: 3px 8px 3px 10px;
    font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: silver;
    background-color: #f8f8f8;
    padding-bottom: 10px;
    border-left: 3px solid #6CE26C;
}

.dp-highlighter.nogutter .tools {
    border-left: 0;
}

.dp-highlighter.collapsed .tools {
    border-bottom: 0;
}

.dp-highlighter .tools a {
    font-size: 9px;
    color: #a0a0a0;
    background-color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.dp-highlighter .tools a:hover {
    color: red;
    background-color: inherit;
    text-decoration: underline;
}

/* About dialog styles */

.dp-about {
    background-color: #fff;
    color: #333;
    margin: 0px;
    padding: 0px;
}

.dp-about table {
    width: 100%;
    height: 100%;
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
}

.dp-about td {
    padding: 10px;
    vertical-align: top;
}

.dp-about .copy {
    border-bottom: 1px solid #ACA899;
    height: 95%;
}

.dp-about .title {
    color: red;
    background-color: inherit;
    font-weight: bold;
}

.dp-about .para {
    margin: 0 0 4px 0;
}

.dp-about .footer {
    background-color: #ECEADB;
    color: #333;
    border-top: 1px solid #fff;
    text-align: right;
}

.dp-about .close {
    font-size: 11px;
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    background-color: #ECEADB;
    color: #333;
    width: 60px;
    height: 22px;
}

/* Language specific styles */

.dp-highlighter .comment,
.dp-highlighter .comments {
    color: #008200;
    background-color: inherit;
}

.dp-highlighter .string {
    color: blue;
    background-color: inherit;
}

.dp-highlighter .keyword {
    color: #069;
    font-weight: bold;
    background-color: inherit;
}

.dp-highlighter .preprocessor {
    color: gray;
    background-color: inherit;
}




/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 576px) {
    .col-12 {
        width: 100%;
    }

    .flex-column-m {
        flex-direction: column;
    }

    .row.course-item {
        align-items: center;
    }

    .lesson {
        display: none;
    }

    .course>i {
        float: right;
    }

    .container {
        width: 100%;
    }

    .col-12-m {
        width: 100%;
    }

}