<h1>User </h1>

<button class="btn btn-success my-3" onclick="Add(event)">Thêm</button>
<style>
    .navigation-icon {
        cursor: pointer;
    }
</style>
<table id="example" class="table table-striped" style="width:100%">

</table>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_modal" />

    <script>
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
            keyboard: false
        })

        function LoadData() {
            $.get("/cp/UserManager/GetUsers", function (data) {
                $("#example").html(data);
                $('#example').DataTable();
            });
        }

        $(document).ready(function () {
            LoadData();
        });

        function Add(e) {
            $.get("/cp/UserManager/GetModal", function (data) {
                $("#headerModal").html("Add");
                $("#loadModal").html(data);
                $.validator.unobtrusive.parse("#exampleModal");
            });
            myModal.show();

        }
        function Edit(e, name) {

            $.get(`/cp/UserManager/GetModalEdit?name=${name}`, function (data) {
                $("#headerModal").html("Edit");
                $("#loadModal").html(data);
                $.validator.unobtrusive.parse("#exampleModal");
            });
            myModal.show();
        }

        function Delete(e, email) {
            debugger
            let result = DoYouWantToDelete();
            if (result) {
                $.get(`/cp/UserManager/Delete?email=${email}`, function (result) {
                    if (result == 'Ok') {
                        LoadData();
                    }
                });
            }

        }
    </script>
}
