<section class="content content-course default-padding" id="content">
    <h1 class="h1-content-course">Hướng Dẫn lập trình .Net C# cho người mới bắt đầu</h1>
    <h2>
        .NET Framework là gì ?
    </h2>
</section>