@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var lstCategory = Enum.GetValues(typeof(CategoryTopic)).Cast<CategoryTopic>().ToList();
}

<nav id="sidebar" class="">
    <div class="p-4 pt-5">
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Topic</a>
                @* <ul class="list-unstyled collapse show" id="homeSubmenu" style="">
                @foreach (var item in lstCategory)
                {
                <li>
                <a href="/cp/topic?whichTopic=@item">@item</a>
                </li>
                }
                </ul> *@
            </li>
            <li>
                <a href="/cp/category">Category</a>
            </li>
            <li>
                <a href="/cp/sitemap">Create Sitemap</a>
            </li>

            <li>
                <a class="nav-link" asp-area="cp" asp-controller="role" action="index" title="Manage"> 
                    Role
                </a>
            </li>
            <li>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                    @User.Identity.Name!</a>
            </li>

            <li>
                <form asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link nav-link-logout">Logout</button>
                </form>
            </li>
        </ul>
        <div class="footer">
            <p>
                Copyright © @DateTime.Now.Year All rights reserved
            </p>
        </div>
    </div>
</nav>

