<div class="modal-header">
    <h5 class="modal-title">Thêm bài học</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <label for="">Lesson</label>
        <input type="text" class="form-control" name="Title" id="TitleModal" placeholder="Nhập bài học">
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="ModalSave(@ViewBag.WhichModalSave,@ViewBag.Id)">Save</button>
</div>