@{
	var lstCategory = Enum.GetValues(typeof(CategoryTopic)).Cast<CategoryTopic>().ToList();
}

<header>
	<div class="header">
		<div class="container nav-desktop default-padding-x">
			<a href="/" class="logo">Trang Chủ</a>
			<div class="header-right">
				@foreach (var item in lstCategory)
				{
					<a class="link" href="/khoa-hoc/@item">@item</a>
				}
			</div>
		</div>
	</div>
</header>