<header>
	<div class="header">
		<div class="container nav-desktop default-padding-x">
			<a href="/" class="logo">Trang Chủ</a>
			<div class="header-right">
				<a class="link" href="/khoa-hoc/c-sharp">C#</a>
				<a class="link" href="/khoa-hoc/mvc">MVC</a>
				<a class="link" href="/khoa-hoc/web-api">Web API</a>
			</div>
		</div>
	</div>
</header>