@model IEnumerable<Course>

<aside class="sidenav default-padding" id="sidebar">

    @if (Model.Count() > 0)
    {
        foreach (var course in Model)
        {
            <div class="course">
                <h2>@course.Title</h2>
                <i class="fa fa-angle-down"></i>
                <div class="lesson">
                    <ul>
                        @foreach (var lesson in course.Lessons)
                        {
                            <li>
                                <i class="fa fa-hand-o-right"></i>
                                <a href="/bai-hoc/@lesson.Url">@lesson.Title</a>
                            </li>
                        }
                        @* <li>
                            <i class="fa fa-hand-o-right"></i>
                            <a href="/bai-hoc/test">Introduction to C#</a>
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right"></i>
                            <a href="/bai-hoc/test">How Computer Works</a>
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right"></i>
                            <a href="/bai-hoc/test">How Computer Works</a>
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right"></i>
                            <a href="#">How Computer Works</a>
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right"></i>
                            <a href="#">How Computer Works</a>
                        </li> *@
                    </ul>
                </div>
            </div>
        }

    }

    @* <div class="course">
    <h2>Introduction & Environment Setup</h2>
    <i class="fa fa-angle-down"></i>
    <div class="lesson">
    <ul>
    <li>
    <i class="fa fa-hand-o-right"></i>
    <a href="/bai-hoc/test">Introduction to C#</a>
    </li>
    <li>
    <i class="fa fa-hand-o-right"></i>
    <a href="/bai-hoc/test">How Computer Works</a>
    </li>
    <li>
    <i class="fa fa-hand-o-right"></i>
    <a href="/bai-hoc/test">How Computer Works</a>
    </li>
    <li>
    <i class="fa fa-hand-o-right"></i>
    <a href="#">How Computer Works</a>
    </li>
    <li>
    <i class="fa fa-hand-o-right"></i>
    <a href="#">How Computer Works</a>
    </li>
    </ul>
    </div>
    </div>
    <div class="course">
    <h2>C#.NET Basics</h2>
    <div class="lesson">
    <ul>
    <li>
    <i class="fa fa-hand-o-right"></i>
    <a href="#">Basic Structure of C# Program</a>
    </li>
    <li>
    <i class="fa fa-hand-o-right"></i>

    <a href="#">How Computer Works</a>
    </li>
    <li>
    <i class="fa fa-hand-o-right"></i>

    <a href="#">How Computer Works</a>
    </li>

    </ul>
    </div>
    </div> *@
</aside>