@model IEnumerable<Course>

<aside class="sidenav default-padding" id="sidebar">

    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var course in Model)
            {
                <div class="course">
                    <h2>@course.Title</h2>
                    <i class="fa fa-angle-down"></i>
                    <div class="lesson">
                        <ul>
                            @if (course.Lessons.Count > 0)
                            {
                                foreach (var lesson in course.Lessons.Where(s=> s.Status == StatusCode.Public && s.IsDelete == false))
                                {
                                    <li>
                                        <i class="fa fa-hand-o-right"></i>
                                        <a href="/bai-hoc/@lesson.Url">@lesson.Title</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    }
</aside>