<div class="container default-background-color m-b-30">
    <div class="row">
        <div class="col-sm-4">
            @await Component.InvokeAsync("SideBar")
        </div>
        <div class="col-sm-8">
            <section class="content content-course default-padding" id="content">
                <h1 class="h1-content-lesson">Introduction to C#</h1>
                <p>Quay lại: <a href="#">Hướng Dẫn .NET C# cho người mới bắt đầu </a></p>

                <h2>
                    .NET Framework là gì ?
                </h2>
            </section>

            <div class="nav-content default-padding">
                <a href="#" class="blog-nav-lesson previous-lesson" title="Temp Data trước">
                    <p>
                        <i class="fa fa-angle-left"></i>
                        Bài học trước
                    </p>
                    <h3>Temp Data</h3>
                </a>
                <a href="#" class="blog-nav-lesson next-lesson" title="Temp Data tiếp theo">
                    <p>
                        Bài học sau
                        <i class="fa fa-angle-right"></i>
                    </p>
                    <h3>Temp Data</h3>
                </a>
            </div>
        </div>
    </div>
</div>