@model Topic

<div class="container default-background-color m-b-30">
    <div class="row">
        <div class="col-sm-4">
            @await Component.InvokeAsync("SideBar",ViewBag.TopicCategory)
        </div>
        <div class="col-sm-8">
            <section class="content content-course default-padding" id="content">
                <h1 class="h1-content-course">
                    @Model.Title
                </h1>
                <div class="wrap">
                    @Html.Raw(Model.Body)                    
                </div>
            </section>
        </div>
    </div>
</div>